html {
    background-image: url(/images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Hauptcontainer {
    width: 100%;
    max-width: 60em;
    min-width: 30em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .4em;
    padding: 1em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.Containerkopf {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-weight: 600;
    gap: 1rem;
}

.Container {
    background-color: #e6ffff;
    border-radius: .4em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: deeppink;
}

a:active {
    color: deeppink;
    text-decoration: none;
}

label {
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
}

.Schiffsdaten {
    width: 45%;
    min-width: 25em;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 55%;
}

#aktuellesBild {
    max-width: 70%;
    border-radius: 1rem;
    border-radius: 1rem;
    margin-top: .5rem;
}


